{% extends "layout.html" %}

{% block body %}
<a name=account><h4>Account Information</h4></a>
<p>A Sali Lab Server account allows a user to:
  <ul>
    <li>Organize all ModWeb calculations centrally</li>
    <li>Access the user's ModWeb calculations from the CMMR server</li>
    <li>Import ModBase models into other Sali Lab servers</li>
  </ul>
</p>

<a name=access><h4>Web Server Access Control</h4></a>
<p>New users automatically gain assess to all Sali Lab servers that are
available for the academic community. All other server are restricted
to specific user groups. If you think you should have access to a group, 
please email <script>escramble("modbase","salilab.org")</script>.</p>
{% endblock %}
