{% extends "layout.html" %}

{% block body %}

{%- with messages = get_flashed_messages() %}
  {%- if messages %}
    <ul class=flashes>
    {%- for message in messages %}
      <li>{{ message }}</li>
    {%- endfor %}
    </ul>
  {%- endif %}
{%- endwith %}

<h4>Server availability for user {{ g.user.name }}</h4>

<ul>
  {%- for server in servers %}
  <li><a href="{{ server.url }}">{{ server.short_title }}, {{ server.title }}</a></li>
  {%- endfor %}
</ul>

<h4>Profile</h4>

<p>
<b>Login:</b> {{ g.user.name }}<br />
<b>First name:</b> {{ g.user.first_name }}<br />
<b>Last name:</b> {{ g.user.last_name }}<br />
<b>Email address:</b> {{ g.user.email }}<br />
<b>Institution:</b> {{ g.user.institution }}<br />
</p>

{% endblock %}
