{% extends "layout.html" %}

{% block body %}
<h4>Account Setup</h4>

{%- if error %}
<p class=error><strong>Error:</strong> {{ error }}</p>
{%- endif %}

<form method="post" enctype="multipart/form-data" autocomplete="off">
  <table>
    <tr><td colspan="5"><hr /></td></tr>
    <tr><th colspan="2">Create an Account {{ help_link("account") }}</th></tr>
    <tr><td>Choose Username (max 25 characters):</td> <td><input type="text" name="user_name" value="{{ form.user_name }}" size="10" maxlength="25" /></td></tr>
    <tr><td>Choose Password (min 8, max 25 characters):</td> <td><input type="password" name="password"  size="10" maxlength="25" /></td></tr>
    <tr><td>Re-enter Password:</td> <td><input type="password" name="passwordcheck"  size="10" maxlength="25" /></td></tr>
    <tr><td>First Name <input type="hidden" name="create" value="y"  /></td> <td><input type="text" name="first_name" value="{{ form.first_name }}" size="20" maxlength="40" /></td></tr>
    <tr><td>Last Name</td> <td><input type="text" name="last_name" value="{{ form.last_name }}" size="20" maxlength="40" /></td></tr>
    <tr><td>Institution</td> <td><input type="text" name="institution" value="{{ form.institution }}" size="20" maxlength="40" /></td></tr>
    <tr><td><span class="tooltip" title="This will be used to notify you of completed jobs, and to reset your password if you forget it. It will not be used for any other purpose.">Email Address</span></td> <td><input type="text" name="email" value="{{ form.email }}" size="20" maxlength="40" /></td></tr>
    <tr><td><a href="https://salilab.org/modeller/" title="If you have a MODELLER license key, you can save it here; it will be provided automatically to any web service that needs it.">MODELLER license key</a> (optional)</td> <td><input type="text" name="modeller_key" value="{{ form.modeller_key }}" size="20" maxlength="40" /></td></tr>
    <tr><td align="center" colspan="2"><div class=standout> <label><input type="checkbox" name="academic" value="on" {{ 'checked="checked"' if form.academic }} />I am a <span class="tooltip" title="Sali Lab web server accounts are currently only available for non-profit or academic users.">non-profit/academic user</span>
	                and this server will be used solely for educational 
	                purposes or for basic research intended to advance 
	                scientific knowledge. </label> </div></td></tr>
    <tr><td align="center" colspan="2"><label><input type="checkbox" name="permanent" value="on" {{ 'checked="checked"' if form.permanent or not form.user_name }} />Check if you want to <span class="tooltip" title="If set, the logon cookie will expire after one year rather than at the end of your browser session.">log on permanently</span> on this computer</label></td></tr>
    <tr><td><input type="submit" name=".submit" value="Create Account" /></td> <td><input type="reset" /></td></tr>
    <tr><td colspan="5"><hr width="100%" /></td></tr>
  </table>
</form>
{% endblock %}
