<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
{%- macro get_navigation_links(links) %}
{%- if g.user %}
  <a href="https://modbase.compbio.ucsf.edu/account/">Current User: {{ g.user.name }}</a>&nbsp;&bull;&nbsp;
  <a href="https://modbase.compbio.ucsf.edu/account/logout">Logout</a>&nbsp;&bull;&nbsp;
{%- else %}
  <a href="https://modbase.compbio.ucsf.edu/account/">Login</a>&nbsp;&bull;&nbsp;
{%- endif %}
{%- for link in links %}
  <a href="{{ link[0] }}">{{ link[1] }}</a>
  {%- if not loop.last -%}
  &nbsp;&bull;&nbsp;
  {%- endif -%}
{%- endfor %}
{%- endmacro %}

{%- macro get_lab_navigation_links(links) %}
{%- for link in links %}
  <a href="{{ link[0] }}">{{ link[1] }}</a>&nbsp;&bull;&nbsp;
{%- endfor %}
{%- endmacro %}

{%- macro help_link(anchor) -%}
<a class="helplink" href="{{ url_for("help", _anchor=anchor) }}"><img class="helplink" src="/saliweb/img/help.jpg" alt="help" /></a>
{%- endmacro %}

<head>
<title>
{%- block title -%}
{%- endblock -%}
</title>
{%- block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{%- endblock %}
{%- block meta %}
{%- endblock %}
<link rel="stylesheet" type="text/css" href="/saliweb/css/server.css" />
<link href="/fontawesome6/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
<link href="/fontawesome6/css/brands.min.css" rel="stylesheet" type="text/css" />
{%- block css %}
{%- endblock %}

<script src="/saliweb/js/salilab.js" type="text/JavaScript"></script>
{%- block js %}
{%- endblock %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div id="container">
    <div id="header1"> 
      {%- block header_page_title %}
        <h3><a href="https://salilab.org"><img src="//salilab.org/img/logo_small.gif" height="40" alt="" /></a>{{ self.title() }}</h3>
      {%- endblock %}
    </div>

<div id="navigation_lab">
&bull;&nbsp;<a href="//salilab.org/">Sali Lab Home</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/modweb/">ModWeb</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/modbase/">ModBase</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/evaluation/">ModEval</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/peptide/">PCSS</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/foxs/">FoXS</a>&nbsp;&bull;&nbsp;
<a href="//integrativemodeling.org/">IMP</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/multifit/">MultiFit</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/modpipe/">ModPipe</a>&nbsp;&bull;&nbsp;
{%- block lab_navigation %}
{%- endblock %}
&nbsp;&nbsp;<a href="https://twitter.com/salilab_ucsf" class="fab fa-x-twitter" title="Follow us on X/Twitter"></a>
</div>

{%- block cluster_status %}
<p class="standout">The compute cluster will be <a href="https://wynton.ucsf.edu/hpc/status/index.html">down for routine maintenance</a> from June 17 until June 18. Most jobs will be queued until the cluster is back up.</p>
{%- endblock %}

<div id="navigation_second">
{%- block navigation %}
{{ get_navigation_links(
       [(url_for("index"), config.SERVICE_NAME + " Home"),
        (url_for("job"), "Current " + config.SERVICE_NAME + " queue")])
}}
{%- endblock %}
</div>
        <div style="clear:both;"></div><div id="bodypart"> 

{%- if self.sidebar()|trim %}
<div id="left">
{%- endif %}
{%- block sidebar %}
{%- endblock %}
{%- if self.sidebar()|trim %}
</div>
<div id="right">
{%- endif %}

<div id="fullpart"><div id="resulttable">
{%- block body %}
{%- endblock %}
</div></div>
{%- if self.sidebar()|trim %}
</div>
{%- endif %}
</div><div style="clear:both;"></div>

{%- block footer %}
{%- endblock %}
</div>

</body>
</html>
