<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
{%- macro get_navigation_links(links) %}
{%- if g.user %}
  <a href="https://modbase.compbio.ucsf.edu/scgi/server.cgi">Current User: {{ g.user.name }}</a>&nbsp;&bull;&nbsp;
  <a href="https://modbase.compbio.ucsf.edu/scgi/server.cgi?logout=true">Logout</a>&nbsp;&bull;&nbsp;
{%- else %}
  <a href="https://modbase.compbio.ucsf.edu/scgi/server.cgi">Login</a>&nbsp;&bull;&nbsp;
{%- endif %}
{%- for link in links %}
  <a href="{{ link[0] }}">{{ link[1] }}</a>
  {%- if not loop.last -%}
  &nbsp;&bull;&nbsp;
  {%- endif -%}
{%- endfor %}
{%- endmacro %}

{%- macro get_lab_navigation_links(links) %}
{%- for link in links %}
  <a href="{{ link[0] }}">{{ link[1] }}</a>&nbsp;&bull;&nbsp;
{%- endfor %}
{%- endmacro %}
<head>
<title>
{%- block title -%}
{%- endblock -%}
</title>
{%- block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
{%- endblock %}
<link rel="stylesheet" type="text/css" href="/saliweb/css/server.css" />
{%- block css %}
{%- endblock %}

<script src="/saliweb/js/salilab.js" type="text/JavaScript"></script>
{%- block js %}
{%- endblock %}

{%- if config.GOOGLE_UA %}
<script type="text/JavaScript">//<![CDATA[

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
    ga('create', '{{ config.GOOGLE_UA }}', 'ucsf.edu');
    ga('send', 'pageview'); 
//]]></script>
{%- endif %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div id="container">
    <div id="header1"> 
      {%- block header_page_title %}
        <h3><img src="//salilab.org/img/logo_small.gif" height="40" alt="" />{{ self.title() }}</h3>
      {%- endblock %}
    </div>

<div id="navigation_lab">
&bull;&nbsp;<a href="//salilab.org/">Sali Lab Home</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/modweb/">ModWeb</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/modbase/">ModBase</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/evaluation/">ModEval</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/peptide/">PCSS</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/foxs/">FoXS</a>&nbsp;&bull;&nbsp;
<a href="//integrativemodeling.org/">IMP</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/multifit/">MultiFit</a>&nbsp;&bull;&nbsp;
<a href="//salilab.org/modpipe/">ModPipe</a>&nbsp;&bull;&nbsp;
{%- block lab_navigation %}
{%- endblock %}
</div>

<div id="navigation_second">
{%- block navigation %}
{{ get_navigation_links(
       [(url_for("index"), config.SERVICE_NAME + " Home"),
        (url_for("job"), "Current " + config.SERVICE_NAME + " queue")])
}}
{%- endblock %}
</div>
        <div style="clear:both;"></div><div id="bodypart"> 

{%- if self.sidebar()|trim %}
<div id="left">
{%- endif %}
{%- block sidebar %}
{%- endblock %}
{%- if self.sidebar()|trim %}
</div>
<div id="right">
{%- endif %}

<div id="fullpart"><div id="resulttable">
{%- block body %}
{%- endblock %}
</div></div>
{%- if self.sidebar()|trim %}
</div>
{%- endif %}
</div><div style="clear:both;"></div>

{%- block footer %}
{%- endblock %}
</div>

</body>
</html>
